*.o
*.a
*.dSYM
*.dylib
*.obj
*.tlog

mnist/

caffe/
grasp/
opencv/
convnet/
decaf/
submission/

# edited

# build/darknet/*.sln
# build/darknet/*.vcxproj
# build/darknet/*.vcxproj.user
# build/darknet/*.cs

# build_*/
!build/darknet/YoloWrapper.cs
.fuse*

build/*.cmake
build/*.ninja
build/*.json
build/CMakeFiles/
build/detect_cuda_compute_capabilities.cu
build/.ninja_deps
build/.ninja_log
build/Makefile



# OS Generated #
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp

# IDE generated #
.vs/
.vscode/

# Managed by CMake
# src/version.h

# Build artifacts
# lib/
share/
include/darknet/
uselib
uselib_track

# add back

!build/darknet/x64/*
!build/darknet/x64/ravvenAddedScripts/
!build/darknet/x64/data/
!build/darknet/x64/scripts/
!build/darknet/x64/backup/
!build/darknet/x64/weights/
!build/darknet/x64/pretrained/
!build/darknet/x64/cfg/
!build/darknet/x64/cmds/

build/darknet/x64/__pycache__/
build/darknet/x64/DLL_Release/
build/darknet/x64/DLL_Debug/
build/darknet/x64/nogpu_Debug/
build/darknet/x64/Debug/
build/darknet/x64/Release/
build/darknet/Debug/
build/darknet/x64/data/VOCdevkit/*
build/darknet/x64/cfg/*

*.74
*.weights
*.mp4
!build/darknet/x64/mixed_debug_darknet

!3rdparty/lib/*